* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
}
h1 {
  font-size: 3rem;
  font-weight: 800;
}
h2 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 1.5rem;
}
h3 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 1.25rem;
}
.header {
  background-color: rgb(255, 255, 255);
}
nav {
  display: flex;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  max-width: 1280px;
}
nav .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  margin-right: auto;
}
nav .links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  text-decoration: none;
}
nav .links li a,
nav .menu li a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #000;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
}

nav .links li a:hover,
nav .menu li a:hover {
  background-color: #ff284f;
  border-radius: 0.5rem;
  color: #fff;
}
nav .links li,
nav .menu li {
  text-decoration: none;
  margin-right: 1rem;
}
nav .links button {
  padding: 0.8rem 1.5rem;
  color: #fff;
  background-color: #000;
  border-radius: 0.5rem;
  cursor: pointer;

  font-family: "Hind Siliguri", sans-serif;
  font-weight: bold;
}
nav .links button:hover {
  color: #000;
  background-color: #fff;
}
.logo img {
  width: 5rem;
  cursor: pointer;
  margin-right: 2rem;
}

/* ############ HERO  ################## */
.hero-wrapper {
  background-color: #1a161f;
  padding: 2rem;
}
.hero-wrapper .hero {
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .left {
  color: #fff;
}
.hero .left .heading {
  margin-bottom: 1rem;
}
.hero .left .heading span,
.hero .left .sub-heading span {
  display: block;
  margin-bottom: 0.25rem;
}

.hero .hero-form {
  background-color: #2b2533;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 30rem;
}
.hero .hero-form form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .hero-form form select {
  border-radius: 0.5rem;
  padding: 1.2rem 1.5rem;
  font-weight: bold;
}
.hero .hero-form form select {
  border-radius: 0.5rem;
  padding: 1.2rem 1.5rem;
  font-weight: bold;
  outline: none;
}
.hero .hero-form form select option {
  border-radius: 0.5rem;
  padding: 1.2rem 2rem;
  font-weight: bold;
}
.hero .hero-form form input {
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  padding: 1.2rem 2.5rem;
  background-color: #27895d;
  border-width: 0;
  cursor: pointer;
  color: #fff;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: bold;
}

.right .hero-img img {
  max-width: 500px;
}

/* ########  FOOTER ####### */

.footer {
  background-color: #fafafa;
}
.footer .menu {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0rem;
}
.footer .menu .download-app {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer .menu .links {
  display: flex;
  justify-content: space-between;
  flex-grow: 3;
}
.footer .menu .download-app img {
  max-width: 10rem;
}
.footer .menu .download-app span a {
  color: #15803d;
}
.footer .menu .download-app span a:hover {
  text-decoration: underline;
}

.footer .menu .other-links ul {
  list-style: none;
}
.footer .menu .other-links ul li {
  margin-bottom: 0.5rem;
}
.footer .menu .other-links ul li a {
  font-size: 1.25rem;
  color: #000;
}
.footer .copy-right {
  max-width: 1280px;
  text-align: center;
  margin: 0 auto;
}
hr {
  color: #9ca3af;
  margin-bottom: 1rem;
}
.footer .copy-right span {
  color: #6c6c6c;
  padding-bottom: 2rem;
}

/* #########  content  ######## */

.content {
}

.content .first-section {
  max-width: 1280px;
  text-align: center;
  margin: 0 auto;
}
.content .heading {
  padding: 5rem 1rem 2rem 1rem;
}
.content .heading h3 {
  font-weight: 500;
  color: rgb(82 82 82);
}
.content .first-section .menu {
  display: flex;
  justify-content: space-between;
  background-color: #f7f8fa;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  align-items: center;
}
.content .first-section .menu .item {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  border: 2px solid #fff;
  padding: 2rem 2rem;
  border-radius: 1rem;
  align-items: center;
  flex-basis: 24%;
}
.content .first-section .menu .item:hover {
  color: #15803d;
  border: 2px solid #15803d;
  cursor: pointer;
}
.content .first-section .features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 5rem 0rem;
  row-gap: 1rem;
}
.content .first-section .features .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1.5rem;
  align-items: center;
  flex-basis: 30%;
}
.content .first-section .features .card img {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
}
.content .first-section .features .card .title {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 0rem;
}
.content .first-section .features .card .description {
  font-size: 1.25rem;
  padding: 0.5rem;
  color: rgb(82 82 82);
}

/* ####  second section #### */

.content .second-section {
  background-color: #f7f8fa;
}
.content .second-section .section-wrapper {
  max-width: 1280px;
  text-align: center;
  margin: 0 auto;
}

.second-section .cards {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.second-section .cards .card {
  flex-basis: 30%;
  background-color: #fff;
  border-radius: 1rem;
  color: #000;
  transition: 0.2s ease-in-out;
}
.second-section .cards .card:hover {
  transform: translateY(-15px);
}
.second-section .cards .card .card-heading {
  background-image: url(../icons/academic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 11.5rem;

  text-align: left;
  border-radius: 1rem 1rem 0 0;
}

.second-section .cards .card .card-heading h2 {
  max-width: 50%;
  padding: 2.5rem 2rem;
  color: #fff;
}
.second-section .cards .card .title {
  text-align: left;
  padding: 1rem 2rem;
}
.second-section .cards .card .list {
  text-align: left;
  padding: 0.5rem 2rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.second-section .cards .card .list li {
  display: flex;
  align-items: center;
  flex-basis: 48%;
}
.second-section .cards .card .list li span {
  padding: 0.5rem;
}
.second-section .cards .card .list li img {
  width: 24px;
  height: 24px;
}
.second-section .cards .card .card-footer {
  padding: 1rem;
  border-top: 3px solid #ececec;
  color: #27895d;
}
